@model RecipeSharingApp.Models.Recipe

<h4>Process Steps</h4>

<form method="post" action="/Recipe/AddStep">
    <input type="hidden" name="RecipeId" value="@Model.Id" />

    <textarea class="form-control" name="StepDescription" placeholder="Write step..." required></textarea>

    <button class="btn btn-primary mt-2">Add Step</button>
</form>

<hr />

<ol class="mt-3">
@{
    int count = 1;
}
@foreach (var step in Model.Processes!.ToList().OrderBy(p => p.Id))
{
    <li class="mb-2">
        <strong>@count.</strong> @step.StepDescription
        @{
            count++;
        }

        <form method="post" action="/Recipe/DeleteStep" style="display:inline;">
            <input type="hidden" name="id" value="@step.Id" />
            <input type="hidden" name="recipeId" value="@Model.Id" />
            <button class="btn btn-sm btn-danger">X</button>
        </form>
    </li>
}
</ol>
